<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Document</title>
</head>
<body>
	<p>테스트 페이지입니다.</p>
	<div>
		<form action="/download" enctype="multipart/form-data">
			<input type="submit" name = "fileName" value="test">
		</form>
		<h1>파일 업로드</h1>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" name = "uploadfile" multiple="multiple">
			<input type="submit">
		</form>
		<h1>체크박스 테스트</h1>
		<form method="post" action="/check">
			<input type="checkbox" name="check">
			<input type="submit">
		</form>
		<h1>DatePicker 테스트</h1>
		<form method="get" action="/date">
			<input name = "date" class = "datepicker">
			<input type="submit">
		</form>
	</div>
	<script>
		$.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText:'이번 달',
            nextText:'다음 달',
            monthNames:['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            showMonthAfterYear: true,
            yearSuffix: '년',
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토']
        });
	
		$('.datepicker').datepicker();
	</script>    
</body>
</html>